<div id="hotels" class="page">
  <div class="clear"></div>
  <h1>Hotels</h1>
  <div class="seperator"></div>
  <div class="section-01" style="margin-top:20px;">
    <div class="section-01" style="margin-top:20px;">
      <h6>Longfellow's Wayside Inn</h6>
      <h4 style="padding-top:5px;">
        <p style="padding:0px;">
          72 Wayside Inn Road; Sudbury, MA 01776
        </p>
        <p style="padding:0px;">
          Rates vary by room.
        </p>
        <p style="padding: 8px 0 0 0;">
          Please call Michelle at 978-443-1776 x131 and mention the Coyle-Grossman wedding.
        </p>
      </h4>
    </div>

    <div class="section-01" style="margin-top:20px;">
      <h6>Embassy Suites Boston-Marlborough</h6>
      <h4 style="padding-top:5px;">
        <p style="padding:0px;">
          123 Boston Post Road West; Marlborough, MA 01752. Shuttle to and from wedding provided.
        </p>
        <p style="padding:0px;">
          King Suite: $122.95; Two Doubles Suite: $139.95. All rooms have pull-out couches.
        </p>
        <p style="padding: 8px 0 0 0;">
          Please call 508-485-5900 and mention the Coyle-Grossman Wedding.
        </p>
      </h4>
    </div>
  </div>

  <div class="clear2x"></div>
  <div class="line"></div>
</div>
