<div id="home">
	<div class="home-image-area"><img src="images/main.jpg" alt="" class="home-image-fix" /></div>
	<div class="home-main-image-text"><%= GROOM_FIRST_NAME %> &amp; <%= BRIDE_FIRST_NAME %></div>
	<div class="home-text"><%= WEDDING_DATE_PRETTY %> <br /> at <%= WEDDING_VENUE %></div>
	<div class="clear3x"></div>
	<div class="line"></div>
</div>
