<div id="our-story" class="page">
  <div class="clear"></div>
  <h1>Our Story</h1>
  <div class="seperator"></div>
  <div class="section-01"> 
    <h6>As told by <%= BRIDE_FIRST_NAME %></h6>
    <h4>Robby and I met our junior year at Wheaton College, when we had History of America, 1945-present, and National Security Policy together. I knew we had to be friends, when during class he would write music in his journal, and then still have a perfect answer for discussion - and he didn't seem creeped out by me trying to read his journal over his shoulder.</h4>

    <h4>One night, he found me and a mutual friend enjoying popcorn chicken outside the Loft, and he sat down to say hello…and probably eat our popcorn chicken. We hit it off, and as we walked back to our own dorms, Robby said, "I'm really glad we did this." And that's when I knew it was in the bag!</h4>

    <h4>7 years later, he proposed over fancy drinks and steak - a few steps up from the Loft fried food.</h4>
  </div>
  <div class="clear2x"></div>
  <div class="line"></div>
</div>