<div id="registry" class="page">
  <div class="clear"></div>
  <h1>REGISTRY</h1>
  <div class="seperator"></div>
  <div class="registry-area">		
    <div class="registry-texts">
      <p>
        Our registry can be found here: <a href="http://www.amazon.com/registry/wedding/1XYV7QFFB819S">http://www.amazon.com/registry/wedding/1XYV7QFFB819S</a>.
      </p>
    </div>
  </div>
  <div class="line"></div>
</div>