<div id="rsvp" class="page">
  <h1>THANK YOU!</h1>
  <div class="seperator"></div>
  <div class="clear2x"></div>

  <div class="section-01">
    <h6 style="text-align:center">Your response has been recorded.</h6>

    <p align="center">
      Thanks for your RSVP. Enjoy your free stamp. Don't send it all to one place.
    </p>

    <p align="center">
      If you have any logistical questions, please <a href="mailto:robby@freerobby.com,kristin.coyle@gmail.com?subject=Wedding%20question">email us</a>!
    </p>
  </div>

  <div id="note"></div>
  <div class="clear"></div>
  <div class="line"></div>
</div>
