<div id="travel" class="page">
	<div class="clear"></div>
	<h1>TRAVEL</h1>
	<div class="seperator"></div>
		<div class="clear2x"></div>
		<div class="oot-01">
			<a href="/hotels"><img src="images/hotels.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>HOTELS</h6>
			<h4>We have a small block of rooms at the Inn, and a bigger block at the nearby Embassy Suites. <a href="/hotels">Click here for more information</a>.</h4>
		</div>
		<div class="oot-01">
			<a href="/transportation"><img src="images/bus.jpg" alt="" class="border image-fix" /></a>
			<div class="clear2x"></div>
			<h6>TRANSPORTATION</h6>
			<h4>If you're staying at the Inn, your route to the wedding is a hallway and flight of stairs. We will provide a shuttle to and from Embassy Suites.</h4>
		</div>
	<div class="line"></div>
</div>